<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <display-name>FYP_system</display-name>
  <servlet>
    <servlet-name>action</servlet-name>
    <servlet-class>org.apache.struts.action.ActionServlet</servlet-class>
    <init-param>
      <param-name>config</param-name>
      <param-value>/WEB-INF/struts-config.xml</param-value>
    </init-param>
    <init-param>
      <param-name>debug</param-name>
      <param-value>3</param-value>
    </init-param>
    <init-param>
      <param-name>detail</param-name>
      <param-value>3</param-value>
    </init-param>
    <load-on-startup>0</load-on-startup>
  </servlet>
 

  
  <filter>
  	<filter-name>AutoLoginFilter</filter-name>
  	<filter-class>com.uic.filter.AutoLoginFilter</filter-class>
  </filter>
  <filter-mapping>
  	<filter-name>AutoLoginFilter</filter-name>
  	<url-pattern>/login.jsp</url-pattern>
  </filter-mapping>
  <filter-mapping>
  	<filter-name>AutoLoginFilter</filter-name>
  	<url-pattern>/index.jsp</url-pattern>
  </filter-mapping>
  

  <filter>
  	<filter-name>CharacterFilter</filter-name>
  	<filter-class>com.uic.filter.CharacterFilter</filter-class>
  </filter>
  <filter-mapping>
  	<filter-name>CharacterFilter</filter-name>
  	<url-pattern>/*</url-pattern>
  </filter-mapping>
  
  <filter>
  	<filter-name>OpenSessionInView</filter-name>
	<filter-class>com.uic.filter.OpenSessionInView</filter-class>
  </filter>
  <filter-mapping>
  	<filter-name>OpenSessionInView</filter-name>
  	<url-pattern>/*</url-pattern>
  </filter-mapping>
  
  <filter>
  	<filter-name>CoordinatorAuthentication</filter-name>
  	<filter-class>com.uic.filter.CoordinatorAuthenticationFilter</filter-class>
  </filter>
  <filter-mapping>
  	<filter-name>CoordinatorAuthentication</filter-name>
  	<url-pattern>/logined/Coordinator/*</url-pattern>
  </filter-mapping>
  
  <filter>
  	<filter-name>TeacherAuthentication</filter-name>
  	<filter-class>com.uic.filter.TeacherAuthenticationFilter</filter-class>
  </filter>
  <filter-mapping>
  	<filter-name>TeacherAuthentication</filter-name>
  	<url-pattern>/logined/Teacher/*</url-pattern>
  </filter-mapping>
  
  <filter>
  	<filter-name>StudentAuthentication</filter-name>
  	<filter-class>com.uic.filter.StudentAuthenticationFilter</filter-class>
  </filter>
  <filter-mapping>
  	<filter-name>StudentAuthentication</filter-name>
  	<url-pattern>/logined/Student/*</url-pattern>
  </filter-mapping>
  
  <filter>
  	<filter-name>LoginFilter</filter-name>
  	<filter-class>com.uic.filter.LoginFilter</filter-class>
  </filter>
  <filter-mapping>
  	<filter-name>LoginFilter</filter-name>
  	<url-pattern>*.do</url-pattern>
  </filter-mapping>
 
 
	
  <servlet-mapping>
    <servlet-name>action</servlet-name>
    <url-pattern>*.do</url-pattern>
  </servlet-mapping>
  
  
</web-app>